# generated code
CoronaSimulator/android-sdk
CoronaSimulator/CoronaSimulator
/lua
# build stuff
/ARM
/Debug
/Release
/Simulator
/rtt_simulator.mk
/rtt.mk
/rtt_arm.mk
*.bak
/
/.codelite
compile_commands.json
compile_flags.txt
corona.workspace
/deb
/deb_arm
/deb_simulator


